* text=auto eol=lf
*.{cmd,[cC][mM][dD]} text eol=crlf
*.{bat,[bB][aA][tT]} text eol=crlf

.automation/generated/flavors-stats.json linguist-generated=true
.automation/generated/linter-helps.json linguist-generated=true
docs/descriptors/repository_checkov.md linguist-generated=true
docs/descriptors/terraform_checkov.md linguist-generated=true