ENABLE:
  - PHP
DISABLE_LINTERS:
  - PHP_PSALM
  - PHP_PHPLINT
  - PHP_PHPCS
  - PHP_PHPSTAN
LOG_LEVEL: debug
PARALLEL: false
UPDATED_SOURCES_REPORTER: true
APPLY_FIXES: PHP_PHPCSFIXER
PHP_PHPCSFIXER_CONFIG_FILE: .php-cs-fixer.risky.php
PHP_PHPCSFIXER_ARGUMENTS:
  - "--allow-risky=yes"
  - "--diff"
