descriptor_id: EDITORCONFIG
descriptor_type: tooling_format
descriptor_flavors:
  - all_flavors # Applicable to CI in any language project
  - cupcake
file_extensions:
  - "*"
active_only_if_file_found:
  - ".editorconfig"
test_folder: editorconfig-checker
linters:
  # EDITORCONFIG-CHECKER
  - linter_name: editorconfig-checker
    linter_url: https://editorconfig-checker.github.io/
    linter_repo: https://github.com/editorconfig-checker/editorconfig-checker
    linter_banner_image_url: https://raw.githubusercontent.com/editorconfig-checker/editorconfig-checker/master/docs/logo.png
    linter_rules_configuration_url: https://github.com/editorconfig-checker/editorconfig-checker#configuration
    linter_rules_inline_disable_url: https://github.com/editorconfig-checker/editorconfig-checker#excluding
    linter_megalinter_ref_url: https://github.com/editorconfig-checker/editorconfig-checker#mega-linter
    config_file_name: .ecrc
    cli_lint_mode: list_of_files
    cli_config_arg_name: "-config"
    cli_version_arg_name: "-version"
    examples:
      - "editorconfig-checker myfile.js"
    install:
      dockerfile:
        - |-
          # renovate: datasource=docker depName=mstruebing/editorconfig-checker
          ARG EDITORCONFIG_EDITORCONFIG_CHECKER_VERSION=v3.0.3
        - FROM mstruebing/editorconfig-checker:${EDITORCONFIG_EDITORCONFIG_CHECKER_VERSION} as editorconfig-checker
        - COPY --link --from=editorconfig-checker /usr/bin/ec /usr/bin/editorconfig-checker
