/* stylelint-disable SelectorFormat */
.megalinter-banner {
  height: 50px;
  max-height: 150px;
}

.megalinter-logo {
  height: 70px;
  max-height: 70px;
}

.megalinter-icon {
  max-height: 32px;
  max-width: 32px;
}

.md-typeset__table {
  min-width: 100%;
}

.md-typeset table:not([class]) {
  display: table;
}
