# Please check changes with entrypoint.sh and keep in sync
aiofiles==25.1.0
beautifulsoup4==4.14.3
commentjson==0.9.0
fastapi==0.129.2
gitpython==3.1.46
giturlparse==0.14.0
importlib-metadata==8.7.1
json-schema-for-humans==1.5.1
jsonpickle==4.1.1
jsonschema==4.26.0
markdown==3.10.2
mdx_truly_sane_lists==1.3
mike==2.1.3
mkdocs==1.6.1
mkdocs-glightbox==0.5.2
mkdocs-material==9.7.1
multiprocessing_logging==0.3.4
pygithub==2.8.1
pymdown-extensions==10.20.1
pytablewriter==1.2.1
pytest-cov==7.0.0
pytest-timeout==2.4.0
pytest-xdist==3.8.0
pytest-rerunfailures==16.1
python-gitlab==8.0.0
python-multipart==0.0.22
pyyaml==6.0.3
redis==7.2.0
regex==2026.1.15
requests==2.32.5
terminaltables==3.1.10
termcolor==3.3.0
urllib3==2.6.3
webpreview==1.7.2
yq==3.4.3
langchain_core==1.2.13
langchain_anthropic==1.3.3
langchain_deepseek==1.0.1
langchain_google_genai==4.2.0
langchain_mistralai==1.1.1
langchain_community==0.4.1
