# Please check changes with entrypoint.sh and keep in sync
aiofiles==24.1.0
azure-devops==6.0.0b4
beautifulsoup4==4.13.4
commentjson==0.9.0
fastapi==0.116.1
gitpython==3.1.44
giturlparse==0.12.0
importlib-metadata==8.7.0
json-schema-for-humans==1.4.1
jsonpickle==4.1.1
jsonschema==4.24.0
markdown==3.8.2
mdx_truly_sane_lists==1.3
mike==2.1.3
mkdocs==1.6.1
mkdocs-glightbox==0.3.2
mkdocs-material==9.6.15
multiprocessing_logging==0.3.4
pygithub==2.6.1
pymdown-extensions==10.16
pytablewriter==1.2.1
pytest-cov==6.2.1
pytest-timeout==2.4.0
pytest-xdist==3.8.0
pytest-rerunfailures==15.1
python-gitlab==6.1.0
python-multipart==0.0.20
pyyaml==6.0.2
redis==6.2.0
regex==2024.11.6
requests==2.32.4
terminaltables==3.1.10
termcolor==3.1.0
urllib3==2.5.0
webpreview==1.7.2
yq==3.4.3
