name: "DOC - Build and deploy - Beta"
on:
  push:
    branches:
      - main
      - features/doc-versioning
    paths:
      - "**/build.py"
      - "docs/**"
      - "**.yml"
      - "**.md"
      - "**.json"

concurrency:
  group: ${{ github.ref }}-${{ github.workflow }}
  cancel-in-progress: true

jobs:

  deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    if: github.repository == 'oxsecurity/megalinter'
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: actions/setup-python@v5
        with:
          python-version: 3.12.0
      - run: pip install --upgrade -r .config/python/dev/requirements.txt
      - run: cd .automation && bash build_schemas_doc.sh && cd ..
      # - run: mkdocs gh-deploy --force
      - run: |
          git config --global user.name megalinter-bot
          git config --global user.email nicolas.vuillamy@ox.security
      - run: mike deploy beta --push

 