---

name: "Build & Deploy - RELEASE"
on:
  push:
    branches:
      - fix-doc

###############
# Set the Job #
###############
jobs:

  deploy_doc:
    runs-on: ubuntu-latest
    if: github.repository == 'oxsecurity/megalinter'
    permissions:
      contents: write
    environment:
      name: release
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Get release version
        id: version
        run: |
          {
            echo "cversion=9.3.0"
            echo "ctag=v9.3.0"
            echo "pversion=9.2.0"
            echo "ptag=v9.2.0"
          } >>"$GITHUB_OUTPUT" 
      - name: Print tags
        run: |
          echo "prev tag ${{ steps.version.outputs.ptag }}"
          echo "curr tag ${{ steps.version.outputs.ctag }}"
          echo "prev ver ${{ steps.version.outputs.pversion }}"
          echo "curr ver ${{ steps.version.outputs.cversion }}"
      - uses: actions/setup-python@v6
        with:
          python-version: 3.12.12
      - run: pip install --upgrade -r .config/python/dev/requirements.txt
      - run: cd .automation && bash build_schemas_doc.sh && cd ..
      # - run: mkdocs gh-deploy --force
      - run: |
          git config --global user.name megalinter-bot
          git config --global user.email 129584137+megalinter-bot@users.noreply.github.com
          git stash
      - name: Checkout previous tag
        run: |
          git checkout ${{ steps.version.outputs.ptag }}
      - name: Mike deploy previous version
        run: |
          mike delete ${{ steps.version.outputs.pversion }} || echo 'version does not exists yet'
          mike deploy ${{ steps.version.outputs.pversion }}
      - name: Checkout current tag
        run: |
          git checkout ${{ steps.version.outputs.ctag }}
      - name: Mike deploy current version
        # MAJOR-RELEASE-IMPACTED
        run: |
          mike delete latest
          mike delete v9 || true
          mike deploy v9 || true
          mike deploy --push latest ${{ steps.version.outputs.cversion }}
