---
#########################
#########################
## Deploy Docker Image Flavors ##
#########################
#########################

#
# Documentation:
# https://help.github.com/en/articles/workflow-syntax-for-github-actions
#

#######################################
# Start the job on all push to main #
#######################################
name: "Build & Deploy - BETA Flavors"
on:
  push:
    branches:
      - "main"
      - "FlavoredMegaLinters"
    paths:
      - ".github/workflows/**"
      - "Dockerfile"
      - "flavors/**"
      - "megalinter/**"
      - "mega-linter-runner/**"
      - "**/linter-versions.json"
      - "TEMPLATES/**"
      - ".trivyignore"
      - "**/.sh"

###############
# Set the Job #
###############
concurrency:
  group: ${{ github.ref }}-${{ github.workflow }}
  cancel-in-progress: true

jobs:
  build:
    # Name the Job
    name: BETA/Flavors
    # Set the agent to run on
    runs-on: ubuntu-latest
    permissions:
      packages: write
    environment:
      name: beta
    strategy:
      fail-fast: false
      max-parallel: 10
      matrix:
        # flavors-start
        flavor:
          [
            "c_cpp",
            "ci_light",
            "cupcake",
            "documentation",
            "dotnet",
            "dotnetweb",
            "formatters",
            "go",
            "java",
            "javascript",
            "php",
            "python",
            "ruby",
            "rust",
            "salesforce",
            "security",
            "swift",
            "terraform",
          ]
# flavors-end
        platform: ["linux/amd64"]
    # Only run this on the main repo
    if: >-
      (
        github.repository == 'oxsecurity/megalinter'
        && !contains(github.event.head_commit.message, 'skip deploy')
        && !contains(github.event.head_commit.message, 'Release MegaLinter v')
      )
    ##################
    # Load all steps #
    ##################
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Docker Metadata action
        uses: docker/metadata-action@v5.5.1
        id: meta
        with:
          images: |
            ${{ github.repository }}-${{ matrix.flavor }}
            ghcr.io/${{ github.repository }}-${{ matrix.flavor }}
          flavor: |
            latest=false
            prefix=beta
          tags: |
            type=raw,value=
      - name: Docker Metadata action (Worker)
        uses: docker/metadata-action@v5.5.1
        id: meta-w
        with:
          images: |
            name=${{ github.repository }}-worker-${{ matrix.flavor }},enable=false
            name=ghcr.io/${{ github.repository }}-worker-${{ matrix.flavor }}
          flavor: |
            latest=false
            prefix=beta
          tags: |
            type=raw,value=

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
        if: ${{ ( ( runner.arch != 'X64' || runner.os != 'Linux' ) && matrix.platform == 'linux/amd64' ) || matrix.platform != 'linux/amd64' }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      # Free disk space
      - name: Free Disk space
        shell: bash
        run: |
          sudo rm -rf /usr/local/lib/android  # will release about 10 GB if you don't need Android
          sudo rm -rf /usr/share/dotnet # will release about 20GB if you don't need .NET

      - name: Build Image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: flavors/${{ matrix.flavor }}/Dockerfile
          platforms: ${{ matrix.platform }}
          build-args: |
            BUILD_DATE=${{ fromJSON(steps.meta.outputs.json).labels['org.opencontainers.image.created'] }}
            BUILD_VERSION=${{ fromJSON(steps.meta.outputs.json).labels['org.opencontainers.image.version'] }}
            BUILD_REVISION=${{ fromJSON(steps.meta.outputs.json).labels['org.opencontainers.image.revision'] }}
          load: false
          push: ${{ github.event_name != 'pull_request' }}
          secrets: |
            GITHUB_TOKEN=${{ secrets.GITHUB_TOKEN }}
          tags: ${{ steps.meta.outputs.tags }}

      - name: Build Worker Image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: Dockerfile-worker
          platforms: linux/amd64
          build-args: |
            MEGALINTER_BASE_IMAGE=${{ fromJson(steps.meta-w.outputs.json).tags[0]}}
            BUILD_DATE=${{ fromJSON(steps.meta-w.outputs.json).labels['org.opencontainers.image.created'] }}
            BUILD_VERSION=${{ fromJSON(steps.meta-w.outputs.json).labels['org.opencontainers.image.version'] }}
            BUILD_REVISION=${{ fromJSON(steps.meta-w.outputs.json).labels['org.opencontainers.image.revision'] }}
          load: false
          push: ${{ github.event_name != 'pull_request' }}
          secrets: |
            GITHUB_TOKEN=${{ secrets.GITHUB_TOKEN }}
          tags: ${{ steps.meta.outputs.tags }}

      ##############################################
      # Check Docker image security with Trivy #
      ##############################################
      - name: Run Trivy vulnerability scanner
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: "docker.io/${{ fromJson(steps.meta.outputs.json).tags[0]}}"
          format: "table"
          exit-code: "1"
          ignore-unfixed: true
          scanners: vuln
          vuln-type: "os,library"
          severity: "CRITICAL,HIGH"
          timeout: 10m0s
        env:
            ACTIONS_RUNTIME_TOKEN: ${{ secrets.GITHUB_TOKEN }}
